/* ----------------------------------------------- */
/* HTML Elements */

body {
    padding: 0;
    margin: 0;
}

article {
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
    margin: 3em;
    padding: 1em;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

h1 {
    margin: 20px;
    padding: 30px;
    color: #F6B018;
    background-color: #0E3D65;
    border: 5px solid #F6B018;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
}

h2 {
    color: #0E3D65;
    background-color: #F6B018;
    border: 2px solid #0E3D65;
    text-align: center;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px gray;
}

h3,
h4 {
    margin: 10px 20px;
    padding: 10px 20px;
}

header {
    border: 5px solid #F6B018;
    background-color: #0E3D65;
    font-family: sans-serif;
    padding: 1.5em;
}

header a {
    color: white;
}

header a:hover {
    color: #F6B018;
}

header h1 {
    color: #F6B018;
    border: none;
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    text-align: left;
}

header h2 {
    color: white;
    background-color: #0E3D65;
    box-shadow: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

header img {
    float: right;
}


hr {
    border: 4px solid #F6B018;
}

input {
    /*width: 80%;*/
}

img {
    max-width: 800px;
    margin: 20px;
    /*border: 1px solid #0E3D65;*/
    /*box-shadow: 2px 2px 5px #0E3D65;*/
}

li {
    margin: 5px 1.5em;
}

p {
    margin: 0.5em 3em;
}

pre {
    border: 1px solid #F6B018;
    border-left: 3px solid #F6B018;
    border-right: 3px solid #F6B018;
    background-color: #f0f0f0;
    margin-left: 3em;
    margin-right: 3em;
    padding: 10px 20px;
}

textarea {
    width: 90%;
    margin: auto;
}


/* ----------------------------------------------- */
/* Classes */


.blinking {
    animation: blinkingText 0.5s infinite;
}

@keyframes blinkingText {
    0% {
        color: red;
    }

    50% {
        color: transparent;
    }

    100% {
        color: red;
    }
}

.btn-form {
    width: 200px;
}

.unc-button {
    margin: 20px 2em;
    padding: 0.5em 2em;
    border: 2px solid #0E3D65;
    color: #0E3D65;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    font-weight: bold;
}

.card {
    margin: 20px;
    border: 1px solid #0E3D65;
}

.card-50 {
    width: 45%;
    float: left;
    margin: 10px;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    background-color: #cccccc;
}

.card-body {
    padding: 2em;
}

/*.collapse {*/
/*    border: 2px solid #0E3D65;*/
/*    background-color: #eeeeee;*/
/*}*/

/*.collapse-header {*/
/*    border: 1px solid #0E3D65;*/
/*    background-color: #0E3D65;*/
/*    padding: 2px;*/
/*}*/

/*.collapse-header button {*/
/*    color: #F6B018;*/
/*}*/

/*.collapse-header button:hover {*/
/*    color: white;*/
/*    background-color: #0E3D65;*/
/*}*/

.form-error {
    color: red;
}

.fg-line {
    margin: 2em 20%;
}

.green {
    color: green;
    font-weight: bolder;
}

.lesson-table {
    margin: 5%;
    padding: 5%;
}

.login-form {
    border: 1px solid black;
    box-shadow: 2px 2px 5px grey;
    padding: 2em;
    margin: auto;
    max-width: 600px;
}

.next-steps {
    background-color: #cccccc;
    margin: 2em 5em;
    padding: 2em;
    border-radius: 10px;
}

.next-steps p {
    margin: 2em;
}

.page {
    margin: 5%;
    padding: 2em;
    box-shadow: 2px 2px 5px grey;
    background-color: #eeeeee;
    border: 3px solid #0E3D65;
    border-radius: 10px;
}

.page2 {
    margin: 2em;
    padding: 2em;
}

.pane {
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    padding: 2em;
}

.pane * {
    margin: 20px;
}

.project {
    border: 3px solid #F6B018;
    background-color: #f0f0f0;
    color: #0E3D65;
}

.project > .card-body {
    background-color: #F6B018;
}

.project > .card-header {
    color: #F6B018;
    background-color: #0E3D65;
    font-size: 120%;
}

.navbar-nav .nav-item.active {
    font-weight: bold;
}


div.tab-pane {
    background-color: #eee;
    box-shadow: 2px 2px 5px gray;
    padding: 3em;
}

.nav-tabs .nav-link.active {
    background-color: #eee;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bolder;
}

.w40 {
    float: left;
    width: 40%;
}

.w20 {
    float: left;
    width: 20%;
}


/* ----------------------------------------------- */
/* IDs */

#id_domain {
    width: 80%;
    max-width: 1000px;
}

#id_github {
    width: 80%;
    max-width: 1000px;
}
